body {
    
}
img{
    width:100px;
}
body {
    background-color: #666;
    color: #ddd;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a, a:visited {
    color: #9EB4CA;;
    text-decoration: none;
}

h1, h2, h3, footer, .gallery {
    text-align: center;
}

pre {
    width: 340px;
    margin: 0 auto;
    border: dashed 1px #aaa;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    pre {
        max-width: 98%;
    }
}