$mainFontSize: 14px;
$buttonPadding: 1px 1px 1px 1px;
$mainColorLight: rgb(133, 18, 209);
$mainColorDark: rgb(83, 6, 84);
$paddingLg: 10px 20px 10px 20px;
$paddingMd: 10px 30px 10px 30px;
$paddingSm: 5px 10px 5px 10px;
