<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <div class="block">
            <h2>Validation code</h2>
            <p>We have send verification code to your email</p>
            <form action="#">
                <div>
                   <input type="text" maxlength="1" inputmode="numeric" required>
                  <input type="text" maxlength="1" inputmode="numeric" required>
                  <input type="text" maxlength="1" inputmode="numeric" required>
                  <input type="text" maxlength="1" inputmode="numeric" required> 
                </div>
                <button type="submit">confirm</button>
            </form>
        </div>
    </body>
</html>