body {
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Open Sans";
}
.box{
    width:200px;
    height:120px;
    background-color:yellowgreen;
    margin:80px auto;
    cursor:pointer;
    }
.box1{
    width:200px;
    height:120px;
    background-color:yellowgreen;
    margin:80px auto;
    cursor:pointer;
    animation:bounce 1s linear;
    }
.text{
    
    animation:bounce 1s linear;
}
@keyframes bounce{
    20%,50%,80%,to{
        transform:translateY(0);
    }
    40%{
        transform:translateY(-30px);
    }
     70%{
        transform:translateY(-15px);
    }
     90%{
        transform:translateY(-4px);
    }
}

