@use 'vars' as *;

/// Подключается внутри .wrapper, см. style.scss.
@mixin footer-layout {
    footer{
        flex: 0 0 auto;

        .footer{
            background: linear-gradient($mainColorLight, $mainColorDark);
            padding: 20px;
        }
    }
}

