body {
    
}
.container{
    width:300px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
input{
    text-align:center;
    border:none;
    background:transparent;
    color:darkred;
    font-weight:bold;
}