<div class="wrapper">
    <div class="tabs-wrapper">
        <input class="input" type="radio" name="tabs" id="tab-1" checked>
        <input class="input" type="radio" name="tabs" id="tab-2">
        <label class="tab" for="tab-1">Tab 1</label>
        <label class="tab" for="tab-2">Tab 2</label>
        <div class="content content-1">Content 1
        <div class="content-header">
            <h2 id="html">HTML5</h2>
            <img style="width:50px" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="html">
        </div>
             
        <p>HTML (from the English  HyperText Markup Language  - “ hypertext markup language”) is a standardized hypertext markup language for viewing web pages in a browser . Web browsers receive an HTML document from the server via HTTP / HTTPS protocols or open it from a local disk, then interpret the code into an interface that will be displayed on the monitor screen. 
        </p>
        </div>
        <div class="content content-2">Content 2
        
        <div class="content-header">
        <h2 id="js">JavaScript</h2>
            <img style="width:50px;" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="js">
        </div>
        
        
            <p>JavaScript ( / ˈ dʒ ɑː v ɑː ˌ s k r ɪ p t / ; abbr. JS /ˈdʒeɪ.ɛs./ ) is a multi- paradigm programming language . Supports object-oriented , imperative , and functional styles. It is an implementation of the ECMAScript specification (ECMA-262 [9] standard ).</p>
        </div>
    </div>
</div>